
//colors
$yellow: #fcb72b;
$dark-navy: #495567;
$dark-grey: #939caa;
$light-grey: #e5ecf4;
$snow: #f2f5f9;
$light-yellow: #fff4df;

//typography
$space-mono: "Space Mono", monospace;
$lexend: "Lexend Deca", sans-serif;

// Fonts-sizes & family
