// variables & functions
@import "scss/variables";
@import "scss/colors";
@import "scss/fonts";

.home_header button{
    margin: auto;
}
.home_svg-right-arrow{
    position: absolute;
    margin-top: 30px;
    bottom: -150px;
    left: -160px;
}

h1{
        @include f56-sm;
        line-height: 1em;
         
} 
.home_svg-line{
    display: none;
}
.home_svg-white-circles{ 
    position: absolute;
    bottom: -150px;
    right: -30px;
}
.home_header_text{
    padding: 0 50px;
    text-align: center;
    margin: auto;
}
.home_description_container{
    position: relative;
    width: clamp(300px, 600px, 700px);
    margin: 118px auto 0 auto;
}

.home_description{
    display: flex;
    gap: 3em;
    align-items: center;
    padding-top: 40px;
}

.home_description_title-container{
    display: grid;
    gap: 2em;
}
.home_description-border{
   position: absolute;
   transform: rotate(90deg);
   top: 150px;
   left: -250px;
   z-index: -1;
}