// Home Page Styles


// variables & functions
@import "scss/variables";
@import "scss/colors";
@import "scss/breakpoints";
@import "scss/fonts";



.home_header button{
    margin: auto;
}
    h1{
        @include f40-sm;
        line-height: 1em;    
        } 

  
    .home_svg-line,.home_svg-white-circles{
        display: none;
    }
 
    .home_svg-right-arrow{
        position: absolute;
        margin-top: 30px;
        bottom: -150px;
        left: -280px ;
    }
    .home_header_text{
        padding: 0 30px;
        margin: auto;
    }
