.text-yellow {
  color: #fcb72b; }

.bg-yellow {
  background-color: #fcb72b; }

.text-dark-navy {
  color: #495567; }

.bg-dark-navy {
  background-color: #495567; }

.text-dark-grey {
  color: #939caa; }

.bg-dark-grey {
  background-color: #939caa; }

.text-light-grey {
  color: #e5ecf4; }

.bg-light-grey {
  background-color: #e5ecf4; }

.text-snow {
  color: #f2f5f9; }

.bg-snow {
  background-color: #f2f5f9; }

.text-light-yellow {
  color: #fff4df; }

.bg-light-yellow {
  background-color: #fff4df; }

.text-white {
  color: white; }

.bg-white {
  background-color: white; }

.home_svg-right-arrow {
  position: absolute;
  top: 56%;
  right: -20%; }

h1 {
  padding: 0 150px;
  font-family: "Space Mono", monospace;
  font-size: 3.5em;
  line-height: 1em;
  max-width: 900px; }

.home_svg-white-circles {
  position: absolute;
  bottom: 0;
  right: -65%; }

.home_header_text {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #f2f5f9;
  max-width: fit-content;
  max-height: fit-content;
  align-items: center;
  gap: 2em;
  margin: auto 0; }

.home_header_text p {
  max-width: 420px; }

.home_svg-line {
  margin-right: 16px; }

.home_text-image {
  display: flex;
  align-items: center; }

.home_header button {
  margin-left: 216px; }
