.text-yellow {
  color: #fcb72b; }

.bg-yellow {
  background-color: #fcb72b; }

.text-dark-navy {
  color: #495567; }

.bg-dark-navy {
  background-color: #495567; }

.text-dark-grey {
  color: #939caa; }

.bg-dark-grey {
  background-color: #939caa; }

.text-light-grey {
  color: #e5ecf4; }

.bg-light-grey {
  background-color: #e5ecf4; }

.text-snow {
  color: #f2f5f9; }

.bg-snow {
  background-color: #f2f5f9; }

.text-light-yellow {
  color: #fff4df; }

.bg-light-yellow {
  background-color: #fff4df; }

.text-white {
  color: white; }

.bg-white {
  background-color: white; }

.home_header button {
  margin: auto; }

h1 {
  font-family: "Space Mono", monospace;
  font-size: 2.5em;
  line-height: 1em; }

.home_svg-line, .home_svg-white-circles {
  display: none; }

.home_svg-right-arrow {
  position: absolute;
  margin-top: 30px;
  bottom: -150px;
  left: -280px; }

.home_header_text {
  padding: 0 30px;
  margin: auto; }

.home_description-border {
  display: none; }

.home_description {
  display: grid;
  text-align: center;
  gap: 2em;
  padding: 0 30px; }

.home_description_container {
  padding: 95px 0;
  display: grid;
  gap: 2em;
  width: 100%; }

.home_description_title-container {
  padding: 0 15px; }
