@import "scss/variables";
@import "scss/fonts";

.nav-bar{
    position: relative;
}
.nav_icons{
    padding: 50px 30px;
}
    .nav_logo{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

  
.nav_links{
    flex-direction:  column;
    justify-content: space-between;
    position: absolute;
    background-color: $dark-navy;
    margin: 0;
    padding:100px 48px 48px 48px ;
    height: 85%;
    width: 0;
    animation-name: menu;
    animation-duration: 200ms;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
    z-index: 1;


    @keyframes menu{
    from {height: 85%;
        width:0}
    to {height: 85%;
        width:75%}
    }

    
    ul{
        display: block;
        padding-left: 0;
        margin: 0;
    }
      
    ul li a{
    color: $snow;
       font-size: 2.5em;
       line-height: 2.5em;
       letter-spacing: -1.79px;
    }
   

}
