.footer_CTA {
  position: relative;
  width: 100%;
  overflow: hidden; }

.footer_CTA_links_container {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto; }

.footer_nav {
  background-color: #3b414c; }

.footer_semi_circles {
  position: absolute; }

.footer_nav_links path {
  fill: #f2f5f9; }

.footer_social_icons {
  display: flex;
  align-items: center;
  gap: 1em;
  transition: background-color ease 200ms; }

.footer_social_icons svg:hover path {
  fill: #f2f5f9; }

.footer_nav_links {
  list-style: none; }

.footer_nav_links a {
  text-decoration: none;
  color: #939caa;
  font-family: "Space Mono", monospace;
  font-size: 1em;
  transition: color ease 200ms;
  transition: color ease 200ms; }

.footer_nav_links a:hover {
  text-decoration: none;
  color: #fcb72b;
  font-family: "Space Mono", monospace;
  font-size: 1em; }

.footer_nav_links i {
  padding-right: 1em; }

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  margin: auto; }

.gplay {
  width: 100%;
  height: 0;
  padding: 0;
  /* reset */
  padding-bottom: calc(100% * 3.25); }
