.footer_CTA {
  position: relative;
  width: 100%;
  overflow: hidden; }

.footer_nav {
  background-color: #3b414c; }

.footer_semi_circles {
  position: absolute; }

.footer_nav_links path {
  fill: #f2f5f9; }

.footer_social_icons {
  display: flex;
  align-items: center;
  gap: 1em;
  transition: background-color ease 200ms; }

.footer_social_icons svg:hover path {
  fill: #f2f5f9; }

.footer_nav_links {
  list-style: none; }

.footer_nav_links a {
  text-decoration: none;
  color: #939caa;
  font-family: "Space Mono", monospace;
  font-size: 1em;
  transition: color ease 200ms;
  transition: color ease 200ms; }

.footer_nav_links a:hover {
  text-decoration: none;
  color: #fcb72b;
  font-family: "Space Mono", monospace;
  font-size: 1em; }

.footer_nav_links i {
  padding-right: 1em; }
