.nav_bar {
  display: flex;
  align-items: center;
  padding: 0 30px 0 0;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden; }

.nav_links {
  display: flex;
  animation: none;
  flex-direction: row;
  background-color: transparent;
  position: relative;
  width: 100%;
  padding: 0; }
  .nav_links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%; }
  .nav_links ul li a {
    color: #939caa;
    font-size: 1.25em;
    margin: 0 .5em; }

.nav_links-container {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.mobile-only {
  display: none; }
