.page_title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: fit-content;
  max-height: fit-content;
  margin: auto;
  font-size: clamp(2em, 5vw, 2.5em); }

.page_svg_white-circles {
  display: none; }

.page_s1_container {
  padding-top: 54px; }

.page_semi-circle {
  display: none; }

.page_s1_img {
  justify-content: center;
  width: fit-content;
  margin: 0 auto; }
  .page_s1_img img {
    height: 311px;
    width: 311px; }

.page_left_down_arrow_center {
  top: 160px;
  right: -420px; }

.page_left_up_arrow {
  top: 40%;
  right: -390px; }

.page_right_arrow {
  left: -200px; }

.page_right_arrow_top_center {
  left: -135px; }

.page_left_down_arrow_top {
  right: -530px; }

.page_s1_title_container {
  margin: 0 auto; }
  .page_s1_title_container button {
    margin: 0 auto; }
